<!DOCTYPE >
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="header.html"></th:block>
    <title>Smooth Line Chart</title>
</head>
<body class="container" style="height: auto;overflow: hidden;">
<div id="chart" style="height: 500px;"></div>
</body>
<script type="text/javascript">
    $(function() {
        showchart();
    })
    function showchart() {
        var echart = echarts.init(document.getElementById('chart'));
        echart.clear();
        echart.showLoading();
        var option = {
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line',
                smooth:true
            }]
        };
        echart.setOption(option);
        echart.hideLoading();
    }
</script>
</html>