<!DOCTYPE >
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="header.html"></th:block>
    <title>Basic Line Chart</title>
</head>
<body class="container" style="height: auto;overflow: hidden;">
<div id="chart" style="height: 500px;"></div>
</body>
<script type="text/javascript">
    $(function() {
        showchart();
    })
    function showchart() {
        var echart = echarts.init(document.getElementById('chart'));
        echart.clear();
        echart.showLoading();
        var option = {
            xAxis: {},
            yAxis: {},
            series: [{
                symbolSize: 20,
                data: [
                    [10.0, 8.04],
                    [8.0, 6.95],
                    [13.0, 7.58],
                    [9.0, 8.81],
                    [11.0, 8.33],
                    [14.0, 9.96],
                    [6.0, 7.24],
                    [4.0, 4.26],
                    [12.0, 10.84],
                    [7.0, 4.82],
                    [5.0, 5.68]
                ],
                type: 'scatter'
            }]
        };
        echart.setOption(option);
        echart.hideLoading();
    }
</script>
</html>