<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="layout/layout::htmlLayout">
    <meta charset="UTF-8">
    <th:block>
        <link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/webjars/bootstrap-treeview/1.2.0/css/bootstrap-treeview.css}" rel="stylesheet" type="text/css" />

        <script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap-treeview/1.2.0/js/bootstrap-treeview.js}"></script>
        <script type="text/javascript" th:src="@{/echarts/3.4.0/js/echarts.min.js}"></script>
        <script type="text/javascript" th:src="@{/echarts/3.4.0/js/map/js/china.js}"></script>
        <!--<script type="text/javascript" th:src="@{/webjars/echarts/echarts.all.js}"></script>-->
        <style type="text/css">
            .treeview .list-group-item {
                background: #f2f2f2;
                border: none;
            }
            .hidden {
                display: none;
            }
        </style>
    </th:block>
</head>
<body>

</body>
</html>